body {
    background-image: url(./pics/quoc.jpg);
    background-size: cover;
    
  }
  
  .navbar {
      background-image: url(./pics/clouds.jpg);
      background-size: cover;
      color: white;

  }
  
  .navbar-brand {
    font-size: 36px;
  }
  
  .search-header {
    font-size: 24px;
    font-weight: bold;
  }
  
  .city-name {
    font-size: 30px;
  }
  
  .forecast-date {
    font-size: 18px;
  }
  
  .row {
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  
  p {
    color: black;
    
  }